*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
} 
.start{
    height: 13vh;
    width: 100%;
    background-color: black;
    color: white; margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
    text-transform: capitalize;
}
nav ul li {
    text-decoration: none;
    display: inline;
    margin-right: 20px;    
}
a{
    color: white;
    text-decoration: none;
}
.hero{
    width: 100%;
    height: 80vh;
    background:  url(0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    // background-image: linear-gradient(rgba(195, 204, 224, 0.1),rgba(199, 203, 212, 0.1));
  
}
.h{
    display: flex;
    justify-content:center;
    align-items:safe;
    color:rgb(182, 104, 1);
    padding-top: 200px;
    font-size:48px;
}
p{
    color:rgb(236, 8, 115);
    font-size: 40px;
    font-family: serif;

    margin-top: 5px;
    text-transform: capitalize;
    font-weight: 200;
    text-align: center;
}
.search{
    max-width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}
.search input{
    width: 70%;
    padding: 7px;
    outline: none;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 20px;
    color: rgb(2, 22, 22);
}
.search button{
    width: 20%;
    padding: 7px;
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 20px;
    background-color: rgba(12, 134, 165, 0.4);
    color: azure;
    cursor: pointer;
}
.manu{
    margin: 15px 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.list{
    width: 300px;
    height: 270px;
    background-color: rgba(46, 46, 92,.2);
    border: 2px solid rgb(192, 221, 221) ;
    margin: 10px ;
    border-radius: 24px;
    transition: 0.4s;
}
.list:hover{
    transform:translate(0px ,10px);
}
img{
    position:relative;
    height: 180px ;
    width: 100%;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.view{
    text-align: center;
    margin: 25px;
    background-color: rgba(68, 55, 51, 0.2);
    width: 96%;
}
.list h4{
    text-align: center;
    font-size: 22px;
}
.list button{
    height: 12%;
    width: 100%;
    font-size: larger;
    cursor: pointer;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border: none;
    background-color: rgba(125,216,190,.7);
}
.list h6{
    text-align: center;
    font-size: 22px;
    -webkit-text-stroke: 1px rgb(126, 126, 68);
}
button:hover{
    color: rgb(230, 59, 59);
}
@media(max-width:1000px){
    .content{
        width: 45%;
    }
}
@media(max-width:750px){
    .content{
        width: 100%;
    }
}
.fa-brands{
    align-items: center;
    width: 25px;
    height: 25px;
}
.last{
    width: 100%;
    height: 49vh;
    background-color: rgba(0, 0, 0, 0.7);
    border: 0px solid rgba(27, 27, 23,.3);
    margin-top: 55px;
}
.last h1{
    align-items: center;
    margin-left: 150px;
    color: white;
}
.fa{
    color: rgb(218, 154, 60);
    font-size: 25px;
    margin: 5px;
    
}
ul{
    list-style: none;
}
i {
    color: white;
}
.c{
    font-size: 18px;
    color: white;
    display: flex;
    align-items: end;
}
